.main {
  background-color: #fcbaff;
  width: 610px;
  height: 50%;
  display: block;
  margin: auto;
  margin-top: 50px;
  border-color: black;
  border-width: 1px;
  border-style: inset;
  border-radius: 10px;
  position: relative;
  align-items: center;
  color: rgb(14, 7, 7);
}
h6 {
  font-weight: normal;
}
.tempData {
  display: inline;
}
.tempratue {
  font-size: 40px;
  font-weight: normal;
}
.celcious {
  position: relative;
  top: 0%;
  right: 0%;
  bottom: 20px;
  font-size: 15px;
}
